@import "tailwindcss";


a.active hr{
  display:block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

 body {
  overflow-x: hidden;
}

/* Custom scrollbar */
 ::-webkit-scrollbar {
  width: 8px;
} 

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
} 